@model ProductViewModel
<form id="productForm">
    <input asp-for="ProductModel.ID" type="text" hidden />
    <div class="row">
        <label for="productName" class="form-label col-1">Name</label>
        <input type="text" asp-for="ProductModel.Name" id="productName" required class="form-control col-9" />
        <span asp-validation-for="@Model.ProductModel.Name" class="text-danger col-auto"></span>

    </div>
    <br />
    <div class="row">
        <label for="textDescription" class="form-label col-1">Description</label>
        <input type="text" asp-for=ProductModel.Description id="textDescription" required class="form-control col-9" />
    </div>
    <br />
    <div class="row">
        <label for="unitPrice" class="form-label col-1">Unit Price</label>
        <input type="number" asp-for="ProductModel.UnitPrice" id="unitPrice" required class="form-control col-9" />
        <span asp-validation-for="@Model.ProductModel.UnitPrice" class="text-danger"></span>

    </div>
    <br />
    <div class="row">
        <label asp-for="ProductModel.SupplierID" class="form-label col-1">Supplier</label>
        <select asp-for="ProductModel.SupplierID" id="comboBoxSupplier" required class="form-control col-9 mr-1"></select>
        <span asp-validation-for="@Model.ProductModel.SupplierID" class="text-danger col-auto"></span>

        <button type="button" id="buttonAddSupplier" class="btn btn-primary col-auto">Add</button>
    </div>
    <br />
    <div class="row">
        <label asp-for="ProductModel.CategoryID" class="form-label col-1">Category</label>
        <select asp-for="ProductModel.CategoryID" id="comboBoxCategory" required class="form-control col-9 mr-1"></select>
        <span asp-validation-for="@Model.ProductModel.CategoryID" class="text-danger col-auto"></span>

        <button type="button" id="buttonAddCategory" class="btn btn-primary col-auto">Add</button>
    </div>
    <br />
    <div class="row">
        <label asp-for="ProductModel.UnitID" class="form-label col-1">Unit</label>
        <select required id="comboBoxUnit" asp-for=ProductModel.UnitID class="form-control col-9  mr-1"></select>
        <span asp-validation-for="@Model.ProductModel.UnitID" class="text-danger col-auto"></span>
        <button type="button" id="buttonAddUnit" class="btn btn-primary col-auto">Add</button>
    </div>
</form>