@model LoginModel
@{
	Layout = "_LayoutLogin";
	ViewData["Title"] = "Login";
}
<div class="row justify-content-center align-items-center" style="height: 100vh;">
	<div class="col-md-4 ">
		<section>
			<form id="account" method="post">
				<div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
				<div class="form-floating mb-3">
					<input asp-for="@Model.UserName" class="form-control" autocomplete="username" aria-required="true" />
					<label asp-for="@Model.UserName" class="form-label">User Name</label>
					<span asp-validation-for="@Model.UserName" class="text-danger"></span>
				</div>
				<div class="form-floating mb-3">
					<input asp-for="@Model.Password" type="password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
					<label asp-for="@Model.Password" class="form-label">Password</label>
					<span asp-validation-for="@Model.Password" class="text-danger"></span>
				</div>
				<div>
					<button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
				</div>

			</form>
		</section>
	</div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}